<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMC</title>
</head>
<body>
    <h1>Calculadora IMC</h1>

    <form action="{% url 'ip' %}" method="POST">{% csrf_token %}
        Altura: <input type="number" name="altura" placeholder="a">
        <br>
        Peso: <input type="number" name="peso" placeholder="b">
        <br>
        <br>
        <input type="submit" name="botao" value="Enviar">

    </form>
</body>
</html>